.bar {
  height: 25px;
  width: 2px;
  background-color: #276ef1;
}

.arrayRow {
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 2px solid #276ef1;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.firstCell {
  margin-left: 2rem;
  width: 25px;
  font-weight: 400;
}

.studentName {
  width: 100px;
}

.highlighted {
  background-color: #276ef1;
}

.match {
  background-color: #3aa76d;
}
