.arraySimulator {
  color: white;
  border-top: 2px solid #7356bf;
  border-right: 2px solid #7356bf;
  border-left: 2px solid #7356bf;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 304px;
}

.titles {
  display: flex;
  font-size: 1.2rem;
  border-bottom: 2px solid #7356bf;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.bar {
  height: 25px;
  width: 2px;
  background-color: #7356bf;
}

.studentName {
  width: 100px;
}

.firstCell {
  margin-left: 0.5rem;
}
