.arraySimulator {
  color: black;
  border-top: 2px solid #276ef1;
  border-right: 2px solid #276ef1;
  border-left: 2px solid #276ef1;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 300px;
}

.titles {
  display: flex;
  font-size: 0.9rem;
  border-bottom: 2px solid #276ef1;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}


.firstTitle {
  width: 80px;
}

.secondTitle {
  width: 80px;
  margin-left: 0.3rem;
}

.thirdTitle {
  width: 100px;
  margin-left: 0.5rem;
}

.bar {
  height: 25px;
  width: 2px;
  background-color: #276ef1;
}

.studentName {
  width: 100px;
}

.firstCell {
  margin-left: 0.5rem;
}
