@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #ffffff;
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  padding: 0.5rem 1rem;
}

.line {
  stroke:black;
  stroke-with: 2;
  position: absolute;
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-left: 1rem !important;
}

.typo {
  margin: 1rem 0;
  text-align: center;
}

.body {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.node {
  display: inline-flex;
  border: 2px solid #276ef1;
  border-radius: 3px;
}

.layer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.layer1 {
  margin-top: 0;
}

.switch {
  margin-left: 2rem !important;
}

.operations {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: 160px;
}

.treeVisualizer {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.nodelayer2 {
  margin: 0 12rem;
}

.nodelayer3 {
  margin: 0 2rem;
}

.nodelayer4 {
  margin: 0 0.5rem;
}

.bar {
  height: 43px;
  width: 2px;
  background-color: #276ef1;
}

.arrayPage {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
